<section class="s-4">
  <div class="leftline">
    <img src="../../assets/images/Mask Group.png" alt="line" />
  </div>
  <div class="rightline">
    <img src="../../assets/images/Mask Group.png" alt="line" />
  </div>
  <h1>აირჩიე კატეგორია</h1>
  <div class="categories">
    <div class="firstcategory">
      <ul>
        <li>ბეჭედი</li>
        <li>სამაჯური</li>
      </ul>
    </div>

    <div class="secondcategory">
      <h3>წინდა</h3>

      <h3>ფეხის სამაჯური</h3>

      <h3>ქართული ხელნაკეთი</h3>
    </div>
    <div class="thirdcategory">
      <h3>პირსინგი</h3>
      <h3>საყურე</h3>
    </div>
  </div>
</section>
