<section>
  <div class="cards">
    <div class="card">
      <img
        src="../../assets/images/vecteezy_couple-golden-wedding-rings-abstract-luxury-light-circles_4668289.jpg"
        alt=""
      />
      <div class="price">
        <h1>ბეჭედი</h1>
        <p>ფასი: 25 ლარი</p>
      </div>
    </div>
    <div class="card">
      <img
        src="../../assets/images/vecteezy_the-large-diamond-is-surrounded-by-many-diamonds-on-the-ring_6662450.jpg"
        alt=""
      />
      <div class="price">
        <h1>ბეჭედი</h1>
        <p>ფასი: 25 ლარი</p>
      </div>
    </div>
    <div class="card">
      <img
        src="../../assets/images/vecteezy_the-large-diamond-is-surrounded-by-many-diamonds-on-the-ring_6663349.jpg"
        alt=""
      />
      <div class="price">
        <h1>ბეჭედი</h1>
        <p>ფასი: 25 ლარი</p>
      </div>
    </div>
    <div class="card">
      <img
        src="../../assets/images/vecteezy_jewelery-ring-with-diamonds-wedding-rings-that-have-deep_8854954.JPG"
        alt=""
      />
      <div class="price">
        <h1>ბეჭედი</h1>
        <p>ფასი: 25 ლარი</p>
      </div>
    </div>
  </div>
</section>
